<h1>Post</h1>
<table>
  <thead>
    <tr>
      <th width="200">Table Header</th>
      <th>Rationale</th>
      <th width="150">Content</th>
      <th width="150">Table Header</th>
    </tr>
  </thead>
  <tbody>
    <%= render @posts %>
  </tbody>
</table>
