<h1>Post</h1>
<table>
  <thead>
    <tr>
      <th> Table Header</th>
      <th> Rationale</th>
      <th> Content</th>
      <th> Table Header</th>
      <th> Status</th>
      <th> Status</th>
      <th> Status</th>
    </tr>
  </thead>
  <tbody>
    <%= render @posts %>
  </tbody>
</table>
